# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
*.DS_Store*
*pickle
*tools/
!sensors/sensor.yaml

# Ignore folders.
.storage
.cloud
.google.token
.ssh
.vscode
.shopping_list.json
._configuration.yaml
._localtuya.yaml
core
home-assistant_v2.db
glances/
image/
zigbee2mqtt
tts
aircast.xml
frigate.yaml
*.db-journal
addons_config
custom_components/*
www/community/*
esphome/.esphome/*
www/upcoming-media-card*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
json_data.json
zigbee.db
hilary
dashboard_links.yaml
watchman_report.txt
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
.DS_Store