default_config:

homeassistant:
  packages: !include_dir_named packages/
  allowlist_external_dirs:
    - /config/.storage
    - /config/
    - /media/
  whitelist_external_dirs:
    - "/share"

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret trusted_ip1
    - !secret trusted_ip2

logger:
  default: critical
  logs:
    # custom_components.mediabrowser: debug
    # custom_components.hacs: debug
   homeassistant.components.http: warning

delete:
my:
battery_notes:
automation: !include automations.yaml
binary_sensor: !include binary_sensors.yaml
command_line: !include command_line.yaml
conversation: !include conversation.yaml
group: !include groups.yaml
homekit: !include homekit.yaml
intent_script: !include intent_script.yaml
notify: !include notify.yaml
rest_command: !include rest_commands.yaml
scene: !include scenes.yaml
script: !include scripts.yaml
shell_command: !include shell_command.yaml
sensor: !include_dir_merge_list sensors
template: !include template.yaml
media_player: !include mediaplayer.yaml
multiscrape: !include multiscrape.yaml
tts:
  - platform: google_translate

frontend:
  themes: !include_dir_merge_named themes


#mariadb config
recorder:
  db_url: !secret recorder_db_url
  purge_keep_days: 15
  exclude:
    domains:
      - update
    entity_globs:
      - sensor.sun*
      - sensor.moon*
      - weather.*
      - sensor.x60*
      - sensor.doorbell*
      - sensor.count*
      - sensor.f1_*
      - sensor.docker*
      - switch.docker*
      - button.docker*
      - device_tracker.smart*
    entities:
      - sun.sun
      - sensor.f1_season_results

spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

telegram_bot:
  - platform: broadcast
    api_key: !secret telegram_api
    allowed_chat_ids:
      - !secret telegram_chat_id
      - !secret telegram_chat_id_atm
      - !secret telegram_chat_id_ch
